@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 97%;
  margin: auto !important;

  /* Soft black background color */
  background-color: #121212;

  animation: bodyFadeIn 1.2s ease-in-out;
  -webkit-tap-highlight-color: #08080800;

  background-image: radial-gradient(circle, rgba(63, 2, 104, 0.849) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the grid size */
  background-position: 0 0; /* Start the grid from the top-left */
  background-attachment: fixed; /* This keeps the background fixed when scrolling */
  color: #e4e4e4; /* Light text color to contrast against the dark background */
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* Animation for the dots fading in */
@keyframes fadeInDots {
  0% {
    background-color: rgba(129, 32, 143, 0); /* Initially transparent */
  }
  100% {
    background-color: rgba(129, 32, 143, 0.4); /* End with dark purple color */
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Darker thumb for the scrollbar */
  border-radius: 5px;
}

.p-color {
  color: #d1d1d1; /* Softer grey for general text */
}

.h-color {
  color: #fff;
}

.no-decoration {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  padding: 0.8em 1.5em;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0.3rem;
  font-size: 18px;
  background-color: #6b46c1;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  backdrop-filter: blur(8px);
  border-radius: 6px;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: #5a35b2;
  transform: translateY(-2px); /* Subtle hover effect */
}

.btn:active {
  transform: translateY(0); /* Button stays down when clicked */
}
